<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <div class="header-row">
          <div class="header-left">
            <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>
            <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }} | Full Stack Dev </h2>
            {% include icon-links.html %}
          </div>
          
          {% if site.resume_avatar == 'true' %}
          <div class="header-right">
            <!-- Avatar image -->
            <div class="avatar-container">
              <img src="images/conference.jpeg" alt="my photo" class="avatar no-print" id="avatar-img">
            </div>

            <!-- Modal -->
            <div id="avatar-modal" class="modal">
              <span class="close">&times;</span>
              <img class="modal-content" id="avatar-modal-img">
            </div>
            <!-- <img src="images/conference.jpeg" alt="my photo" class="avatar no-print" itemprop="image"> -->
          </div>
          {% endif %}
        </div>
      
        <!-- {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %} -->
      
        <!-- Intro summary -->
        <div class="executive-summary" itemprop="description">
          {{ site.resume_header_intro }}
        </div>
      
      </header>

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <h4 class="resume-item-details">
            {{ skill.skill }}
            <span class="star-rating">
              {% for i in (1..5) %}
                {% if i <= skill.rating %}
                  <span class="star filled">&#9733;</span>
                {% else %}
                  <span class="star">&#9733;</span>
                {% endif %}
              {% endfor %}
            </span>
          </h4>
          <p class="resume-item-copy">{{ skill.description }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Career Highlights</h2>
        </header>

        {% for recognition in site.data.recognitions %}
        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
          <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
          <a href={{ recognition.link }} class="resume-item-copy" target="_blank">{{ recognition.link_header }}</a>
          <p class="resume-item-copy">{{ recognition.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Recognition -->
      {% endif %}
    
      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        {% for job in site.data.experience %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <!-- <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3> -->
          <h3 class="resume-item-title" itemprop="name">
            <a href="{{ job.url }}" class="custom-link" target="_blank" rel="noopener noreferrer">{{ job.company }}</a>
          </h3>
          <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}

      </section>
      <!-- end Experience -->
      {% endif %}


      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">
        <header class="section-header">
          <h2>Projects</h2>
        </header>

        {% for project in site.data.projects %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
          <p class="resume-item-copy">{{ project.description }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Projects -->
      {% endif %}


      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

    </div>
    <script>
      const avatar = document.getElementById('avatar-img');
      const modal = document.getElementById('avatar-modal');
      const modalImg = document.getElementById('avatar-modal-img');
      const close = document.getElementsByClassName('close')[0];
    
      avatar.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
      }
    
      close.onclick = function() {
        modal.style.display = "none";
      }
    
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
  </body>

</html>
